{% extends 'base.html.twig' %}

{% block body %}
    <h1>About JoliNeck</h1>

    <div>
    <h2>Why JoliNeck</h2>
        <p>
            I was lost and afraid every time I had to play a rich chord like CMaj6(9|#11) or D7(#9|13).
            All that stuff exceeded me!
            How can I do?
            I have only 4 fingers to play with on the neck (sometimes five with my thumb).
            How to make sound all these fancy alterations?
        </p>

        <p>
            I started to understand with the great Bret Willmott's book: "Complete Book of Harmony Theory and Voicing".
            This book is an anthology of chords and substitutions.
        </p>
    </div>

    <div>
        <h2>Guitar (neck) is powerful</h2>
        <p>
            One of the advantage of neck instrument like guitar is it's intrinsic visual approach.
            You can pick a position, and transpose it in every keys.
            There is no complex thinking here just moving your arm in the good fret!

            But while progressing, this advantage turn to a nightmare.
            Most guitar player's only knows position.


        </p>
    </div>

    <div>
    <h2>Intervals</h2>
        <p>
            altX means that the interval X is in is both alteration # and b (C7alt5 contains a #5 and the b5)
        </p>
    </div>
    <div>
        <h2>Digrams</h2>
        <p>

            Diagrams are used all over these pages to take advantage of the visual approach developed by neck instrument players.

        </p>
    </div>


    <div>
    <h2>Vocabulary</h2>

    <ul>
        <li>Scale: In JoliNeck scales means chord AND scale</li>
        <li>Descriptor: Descriptors are used to describe "scales"</li>
        <li>Root: Mostly the harmonic center (rest position of a "scale")</li>
    </ul>
    </div>
{% endblock %}
