security:
    acl:
        connection: default
    encoders:
        FOS\UserBundle\Model\UserInterface: bcrypt

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
            main:
                pattern: ^/
                form_login:
                    provider: fos_userbundle
                    login_path: fos_user_security_login
                    check_path: fos_user_security_check
                logout:
                    path:   fos_user_security_logout
                anonymous:    true

#    access_control:
#            - { path: ^/_wdt, roles: IS_AUTHENTICATED_ANONYMOUSLY }         # allow wdt for debugging
#            - { path: ^/_profiler/, role: IS_AUTHENTICATED_ANONYMOUSLY }    # allow profiler for debugging
#            - { path: ^/bundles/, role: IS_AUTHENTICATED_ANONYMOUSLY }      # allow assets to be loaded anonymously
#            - { path: ^/[a-z]+/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
#            - { path: ^/[a-z]+/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
#            - { path: ^/[a-z]+/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
#            - { path: ^/admin, role: ROLE_ADMIN }
#            - { path: ^/, role: ROLE_USER } # this must be the last match, as url patterns are checked in the order they appear