{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>Intervale creation</h1>

    <ul class="contentMenu">
        <li>
            <a href="{{ path('intervale_index') }}">Back to the list</a>
        </li>
    </ul>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create Interval" />
        {{ form_end(form) }}


{% endblock %}
