{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fingerings</h1>

    <ul class="list list-inline">
    {% for fingering in fingerings %}
        <li>
            <ul>{{ fingering.id }}
            {% for finger in fingering.fingers %}
                <li>
                    {{ finger.y }} {{ finger.x }}
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
