

<div class="row">
    <div class="col-lg-12">
        <p>
            {% trans %}Harmonic map is off{% endtrans %}
            <a href="#">
                {% trans %}click here to activate{% endtrans %}
            </a>
        </p>
       </div>
</div>