<h3>{% trans %}Sequencer{% endtrans %}</h3>

<script>
    $(document).ready(function(){


/*
        var JSONBin = '{{ bin }}';
        var bin = JSON.parse(JSONBin.replace(/&quot;/g, '\"'));
        var root = undefined;
        var mySEQ = SEQ.init(bin);
        var bassTones = [root+2, [root+3, [root+3, root+2]], root+2, [root+3, root+2]];


    //set the transport
    Tone.Transport.bpm.value = 110;

       // Tone.Transport.start("+0.1");
       */
    });
</script>
